<div class="font-body bg-body text-white">

    <div class="flex justify-evenly p-4 border-b-2">
        <div>
            <p class="font-alexbrush text-2xl"> <span class="text-4xl text-green-400">M</span>ukuna <span class="text-4xl text-green-400">N</span>g'ang'a</p>
      
        </div>
    
        <div class="hidden md:block">
            <ul class="flex gap-8">
                <li><a class="navlink" href="">About</a></li>
                <li><a class="navlink" href="">Projects</a></li>
                <li><a class="navlink" href="">Experience</a></li>
                <li><a class="navlink" href="">Connect</a></li>
                <li><a class="navlink" href=""></a></li>
            </ul>
        
        </div>
    </div>

</div>


