<div class="font-body min-h-screen bg-body flex items-center justify-center">
    <div class="grid grid-cols-1 md:grid-cols-2 max-w-screen-lg mx-auto justify-center items-center ">
        <div>
            <img src="../../../assets/me.jpeg"
                class="rounded-full w-3/4 border-8 hover:drop-shadow-md duration-200"
                alt="">
        </div>

        <div class="flex flex-col gap-4">
            <p class="text-slate-400">Developer and Engineer</p>
            <h1 class="text-white text-4xl font-bold">Mukuna Ng'ang'a</h1>
            <p class="text-gray-400">
                Fusce tempor magna mi, non egestas velit ultricies nec. Aenean convallis, risus non condimentum gravida, odio mauris ullamcorper felis, ut venenatis purus ex eu mi. Quisque imperdiet lacinia urna, a placerat sapien pretium eu.
            </p>

            <div class="flex flex-row justify-self-end gap-4 ">
                <button class="btn"> Download Cv </button>
                <button class="btn"> Contact </button>
            </div>

           

            <div class="flex flex-row justify-evenly gap-4 mt-8 items-center">
                <i class="bg-innerbody fa-brands fa-github text-white text-center text-4xl border border-white rounded-full p-2 w-14 h-14 cursor-pointer hover:scale-105 hover:rotate-12 duration-300"></i>
                <i class="bg-innerbody fa-brands fa-linkedin-in text-white text-center text-4xl border border-white rounded-full p-2 w-14 h-14 cursor-pointer hover:scale-105 hover:-rotate-12 duration-300"></i>
            </div>
        </div>
    </div>
</div>
