<div class="w-full overflow-hidden" >
  <app-navbar></app-navbar>
</div>

<div class="w-full overflow-hidden" id="home">
  <app-home></app-home>
</div>


<div class="w-full overflow-hidden" id="projects">
  <app-projects></app-projects>
</div>

<div class="w-full overflow-hidden" id="skills">
  <app-skills></app-skills>
</div>

<div class="w-full overflow-hidden" id="experience">
  <app-experience></app-experience>
</div>

<div class="w-full overflow-hidden" id="contact">
  <app-contact></app-contact>
</div>