<div class="bg-body font-body min-h-screen p-4">

    <div class="text-center md:mb-10">
        <hr class="w-1/4 mx-auto mb-4">
        
        <h1 class="text-4xl text-white font-bold mb-4">JOURNEY TRAJECTORY</h1>
        <i class="fa-solid fa-briefcase text-white text-3xl animate-bounce"></i>
        
    </div>

    <div class="max-w-screen-lg grid grid-cols-2 gap-3 mx-auto justify-center ">
        <div class="relative p-4  flex flex-col gap-2 border rounded-lg border-slate-500 bg-innerbody">

            <h1 class="text-white  text-3xl">Chief Transformation Architect</h1>
            <p class="text-green-200">QuantumLeap Innovations</p>
            <div class="text-black p-1 rounded-lg w-fit text-sm bg-white">2021 - Present</div>
            <ul class="text-white text-sm tracking-wider">
                <li><i class="fa-solid fa-arrow-trend-up m-1 text-green-200"></i>Engineered paradigm-shifting digital ecosystems</li>
                <li><i class="fa-solid fa-arrow-trend-up m-1 text-green-200"></i>Engineered paradigm-shifting digital ecosystems</li>
                <li><i class="fa-solid fa-arrow-trend-up m-1 text-green-200"></i>Engineered paradigm-shifting digital ecosystems</li>
            </ul>
            <div class="absolute right-0 pr-3 mt-8">
                <h1 class="text-3xl font-bold text-green-200 opacity-15">01</h1>
            </div>

        </div>
        
        <div class="relative p-4  flex flex-col gap-2 border rounded-lg border-slate-500 bg-innerbody">

            <h1 class="text-white  text-3xl">Chief Transformation Architect</h1>
            <p class="text-green-200">QuantumLeap Innovations</p>
            <div class="text-black p-1 rounded-lg w-fit text-sm bg-white">2021 - Present</div>
            <ul class="text-white text-sm tracking-wider">
                <li><i class="fa-solid fa-arrow-trend-up m-1 text-green-200"></i>Engineered paradigm-shifting digital ecosystems</li>
                <li><i class="fa-solid fa-arrow-trend-up m-1 text-green-200"></i>Engineered paradigm-shifting digital ecosystems</li>
                <li><i class="fa-solid fa-arrow-trend-up m-1 text-green-200"></i>Engineered paradigm-shifting digital ecosystems</li>
            </ul>
            <div class="absolute right-0 pr-3 mt-8">
                <h1 class="text-3xl font-bold text-green-200 opacity-15">01</h1>
            </div>

        </div>
        <div class="relative p-4  flex flex-col gap-2 border rounded-lg border-slate-500 bg-innerbody">

            <h1 class="text-white  text-3xl">Chief Transformation Architect</h1>
            <p class="text-green-200">QuantumLeap Innovations</p>
            <div class="text-black p-1 rounded-lg w-fit text-sm bg-white">2021 - Present</div>
            <ul class="text-white text-sm tracking-wider">
                <li><i class="fa-solid fa-arrow-trend-up m-1 text-green-200"></i>Engineered paradigm-shifting digital ecosystems</li>
                <li><i class="fa-solid fa-arrow-trend-up m-1 text-green-200"></i>Engineered paradigm-shifting digital ecosystems</li>
                <li><i class="fa-solid fa-arrow-trend-up m-1 text-green-200"></i>Engineered paradigm-shifting digital ecosystems</li>
            </ul>
            <div class="absolute right-0 pr-3 mt-8">
                <h1 class="text-3xl font-bold text-green-200 opacity-15">01</h1>
            </div>

        </div>
        <div class="relative p-4  flex flex-col gap-2 border rounded-lg border-slate-500 bg-innerbody">

            <h1 class="text-white  text-3xl">Chief Transformation Architect</h1>
            <p class="text-green-200">QuantumLeap Innovations</p>
            <div class="text-black p-1 rounded-lg w-fit text-sm bg-white">2021 - Present</div>
            <ul class="text-white text-sm tracking-wider">
                <li><i class="fa-solid fa-arrow-trend-up m-1 text-green-200"></i>Engineered paradigm-shifting digital ecosystems</li>
                <li><i class="fa-solid fa-arrow-trend-up m-1 text-green-200"></i>Engineered paradigm-shifting digital ecosystems</li>
                <li><i class="fa-solid fa-arrow-trend-up m-1 text-green-200"></i>Engineered paradigm-shifting digital ecosystems</li>
            </ul>
            <div class="absolute right-0 pr-3 mt-8">
                <h1 class="text-3xl font-bold text-green-200 opacity-15">01</h1>
            </div>

        </div>


    </div>

</div>